@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*  base CSS3 and HTMl5 components */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
    background: #e1ddda;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: #626d71;
    margin: 0;
    padding: 0;
}

a {
    color: #f98866;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-family: 'Alegreya', serif;
    font-weight: 700;
    color: #f98866;
}

h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

h2 {
    font-size: 26px;
}

.fork-github {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
}

section {
    background-color: #fff;
    text-align: left;
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.logo {
    background-color: #000;
    color: #fff;
    padding: 0.5em 0.5em 0.5em 1.5em;
    margin: 0;
}

.section-inner {
    padding: 1em 2.5em 2.5em;
}

article {
    width: 70%;
    padding: 2.5em;
    float: left;
    box-sizing: border-box;
}

.box {
    background-color: #f8f5f2;
    border-radius: 3px;
    margin: 0 2% 20px 0;
    float: left;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.box img {
    height: 250px;
    max-width: 100%;
    margin-right: 15px;
    border: 1px solid #e1ddda;
    border-radius: 3px;
    margin-bottom: 10px;
}

.box header {
    padding: 5px;
    overflow: hidden;
}

.box header h3 {
    font-size: 19px;
    margin: 0;
}

.social-share {
    list-style: none;
    padding: 0;
}

.social-share li {
    float: left;
    margin-right: 10px;
}

.social-share .fb_iframe_widget span {
    vertical-align: top !important;
}

.btn {
    padding: 15px 25px;
    background-color: #f98866;
    color: #fff;
    font-family: 'Alegreya', serif;
    text-transform: uppercase;
    margin-right: 15px;
}

/* Acordeon styles */
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e1ddda;
    margin-bottom: 20px;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    line-height: 1.5;
    cursor: pointer;
    
    font-family: 'Alegreya', serif;
    font-weight: 700;
    color: #000;
    margin-bottom: 2px;
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: #626d71;
  }

  .tab-content p {
      margin: 0 0 15px 0;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: 10em;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    color: #f98866;
  }
  input[type="checkbox"] + label::after {
    content: "+";
  }
  input[type="checkbox"]:checked + label::after {
    transform: rotate(315deg);
  }
