@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}

/* Preview Header */
.preview_header {
    font-size: 12px;
    height: 54px;
    background-color: #262626;
    z-index: 100;
    line-height: 54px;
	padding: 0px 20px;
	border-bottom: 1px solid #000;
	overflow: hidden;
}

.preview_header h1 {
    float: left;
    margin: 0;
    padding: 0;
}

.preview_header h1 a {
    font-size: 18px;
    font-weight: 700;
}

.preview_header .link {
    float: right;
}

.preview_header .link a {
    font-size: 15px;
}

.preview_header a {
    color: #fff;
    text-decoration: none;
}

/* Header */
header {
    background-color: #323232;
    color: #fff;
    font-size: 10px;
    padding: 32px 0 23px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
}

header::before {
    position: absolute;
    content: '';
    bottom: -26px;
    left: calc(50% - 45px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
    background-color: #fff;
    z-index: 1;
}

.logo {
    position: absolute;
    top: 12px;
    left: calc(50% - 32px);
}

.primary-nav {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.primary-nav li {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0px 12px;
}

.primary-nav li:nth-child(2) {
    margin-right: 70px;
}

.primary-nav li:nth-child(3) {
    margin-left: 70px;
}

.primary-nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/* - Hexagon images  ----- */
#portfolio {
    padding-bottom: 100px;
    padding-top: 60px;
    position: relative;
}

#portfolio:before {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 1px solid #e4e9eb;
    top: -20px;
    left: 2%;
    width: 96%;
    z-index: 0;
}

#portfolio:after {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 1px solid #e4e9eb;
    bottom: 10px;
    left: 2%;
    width: 96%;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    list-style-type: none;
  }
  
  .hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
  .hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hexLink {
      display:block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      overflow: hidden;
      -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
              transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }
  
  /*** HEX CONTENT **********************************************************************/
  .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0,0,0,0deg);
        -ms-transform: rotate3d(0,0,0,0deg);
            transform: rotate3d(0,0,0,0deg);
  }

  .hex:hover {
    border: 2px solid transparent;
    box-sizing: border-box;
}
  
  /*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
  @media (min-width:1201px) { /* <- 5-4  hexagons per row */
    #hexGrid{
      padding-bottom: 4.4%
    }
    .hex {
      width: 20%; /* = 100 / 5 */
    }
    .hex:nth-child(9n+6){ /* first hexagon of even rows */
      margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
    #hexGrid{
      padding-bottom: 5.5%
    }
    .hex {
      width: 25%; /* = 100 / 4 */
    }
    .hex:nth-child(7n+5){ /* first hexagon of even rows */
      margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    #hexGrid{
      padding-bottom: 7.4%
    }
    .hex {
      width: 33.333%; /* = 100 / 3 */
    }
    .hex:nth-child(5n+4){ /* first hexagon of even rows */
      margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 600px) { /* <- 2-1  hexagons per row */
    #hexGrid{
      padding-bottom: 11.2%
    }
    .hex {
      width: 50%; /* = 100 / 3 */
    }
    .hex:nth-child(3n+3){ /* first hexagon of even rows */
      margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 400px) {
      #hexGrid {
          font-size: 13px;
      }
  }

/* Footer */
footer {
    background-color: #222222;
    color: #bebebe;
    font-size: 12px;
    padding: 15px 0;
}

footer p {
    margin: 0;
    padding: 0 15px;
}

/* Profile Section */
#profile {
    background-color: #2eb398;
    color: #fff;
    padding: 20px;
    overflow: hidden;
    color: #d7fcf5;
}

#profile h3 {
    color: #20816d;
}

#profile .container {
    border-right: 1px solid #219d84;
    border-left: 1px solid #219d84;
    padding: 47px 20px;
    overflow: hidden;
    width: 780px;
}

.profile-img {
    position:relative;
  list-style-type:none;
  width:180px; 
  padding-bottom: 210px;
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);

}

.profile-img *{
    position:absolute;
    visibility:visible;
  }

.profile-img > div{
    width:100%;
    height:100%;
    text-align:center;
    color:#fff;
    overflow:hidden;
    
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    
      -webkit-backface-visibility:hidden;
    
  }
  
  /* Profile hexa image */
.profile-img img{
    left:-100%; 
    right:-100%;
    width: auto; 
    height:100%;
    margin:0 auto;   
}

.profile-content {
    width: 580px;
    float: right;
}

.social-icons {
    overflow: hidden;
    float: right;
    margin-top: 30px;
}

.social-icons li {
    list-style: none;
    float: left;
}

/* Get In Touch */
#get-touch {
    background-color: #323232;
    color: #bebebe;
    overflow: hidden;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

#get-touch:before {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 1px solid #2b2b2b;
    top: 20px;
    left: 2%;
    width: 96%;
}

#get-touch:after {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 1px solid #2b2b2b;
    bottom: 20px;
    left: 2%;
    width: 96%;
}

#get-touch .container {
    padding: 47px 20px;
    overflow: hidden;
    width: 780px;
}

.contact-form {
    float: left;
    width: 77%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #bebebe;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #bebebe;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #bebebe;
  }

input[type="text"],
input[type="email"],
textarea  {
    background-color: #454545;
    border: 0;
    width: 100%;
    color: #bebebe;
    height: 38px;
    line-height: 38px;
    padding: 0px 15px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-bottom: 16px;
    outline: none;
}

textarea {
    height: 200px;
    line-height: 16px;
    padding: 15px;
}

.btn {
    background-color: #2eb398;
    border: 0;
    color: #d7fcf5;
    height: 38px;
    line-height: 38px;
    padding: 0px 30px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    float: right;
}

.contact-info {
    float: right;
    width: 20%;
    margin-top: 70px;
}

.contact-info address {
    font-style: normal;
    margin-bottom: 5px;
    background: url(../images/icon-location.png) no-repeat 0 0;
    padding-left: 25px;
}

.phone {
    margin-bottom: 5px;
    display: block;
    background: url(../images/icon-phone.png) no-repeat 0 0;
    padding-left: 25px;
}

.email {
    margin-bottom: 5px;
    color: #bebebe;
    text-decoration: none;
    display: block;
    background: url(../images/icon-mail.png) no-repeat 0 4px;
    padding-left: 25px;
}