// Max

	$xxxl: 		unquote("max-width: 1690px");
	$xxl: 		unquote("max-width: 1280px");
	$xl: 		unquote("max-width: 980px"); 
	$lg: 		unquote("max-width: 736px");
	$md: 		unquote("max-width: 480px");
	$sm: 		unquote("max-width: 320px"); 
	 

// Mins

	$from_xxxl:	unquote("min-width: 1690px");
	$from_xxl: 	unquote("min-width: 1280px");
	$from_xl:	unquote("min-width: 980px");
	$from_lg: 	unquote("min-width: 736px");
	$from_md: 	unquote("min-width: 480px");
	$from_sm: 	unquote("min-width: 320px");
