#wrapper {
	display: grid;
	grid-template-areas: 
		"aside article";
	grid-template-columns: 20% 1fr;
}

/* content section */
#mainArticle { 
    grid-area: article; 
	background: $bggrey;
	position: relative;

	&.blog-sec {
		column-width: 20%;
		column-count: 5;
		column-gap: 25px;
		padding: 2%;

		@media ($xxl) { 
			column-count: 3;
			column-gap: 15px;
		}

		@media ($xl) { 
			column-count: 2;
			column-gap: 15px;
		}

		@media ($md) { 
			column-count: 1;
			column-gap: 10px;
		}
	}
	
}

.home-sec {
	display: grid;
	grid-template-areas: 
		".left-sec .right-sec";
	grid-template-columns: 50% 50%;
	background-color: $white;
	margin: 25px;
	grid-gap: 25px 0;
	grid-auto-rows: minmax(100vh, auto);
}

.left-sec {
	padding: 25px 25px 10px;
}

.right-sec {
	padding: 25px;
}

