// variables


	$white: #fff;
	$black: #000;
	$darkgrey: #242b2e;
	$bggrey: #b4b7b8;
	$lightgrey: #6b7072;
	$lightergrey: #ececec;

	$lightblack: rgba(0, 0, 0, 0.1);
	$lightwhite: rgba(255, 255, 255, 0.1);

	$textcolor_blog: #9c9c9c;
	$textcolor: #a3a3a3;


//  HOVER COLORS ..

	$hover-blue: #1ea9a8;

